@font-face {
  font-family: triplicate;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('c7d20fe07092ca9b625d8f81603daf0c.woff') format('woff');
}

@font-face {
  font-family: triplicate;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('afc2a1d972e6beb6d45cf52f3b8c80cd.woff') format('woff');
}
