body {
  counter-reset: input;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.25;
  color: #fff;
  background: #002728;
  margin-left: 1em;
}

::selection {
  background: rgba(255, 255, 255, .15);
  color: #fff;
}

a {
  color: #eee;
  padding: 5px;
}

a:hover {
  background: #eee;
  color: #002728;
}

p {
  margin: .65em 0;
}

.terminal {
  float: left;
  margin: 0;
  padding: 0;
  font-family: Menlo, Courier New, monospace;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #eee;
}

.terminal > .terminal--input {
  counter-increment: input;
}

.terminal > .terminal--input:before {
  content: '[' counter(input) '] λ ';
}

.terminal > .terminal--input:last-child:after {
  -webkit-animation: blink .75s infinite;
  animation: blink .75s infinite;
  width: 30px;
  content: '|';
  background: white;
}

.terminal--tag {
  background: #eee;
  color: #002728;
  padding: 5px;
}

.terminal > .terminal--output.is-console:before {
  margin-right: 10px;
  content: '>';
}

.terminal > .terminal--output.is-not-defined:before {
  content: 'undefined';
  color: rgba(255, 255, 255, .5);
}

@-webkit-keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-ms-keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
