body {
  counter-reset: input;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.25;
  background: #FDF7E7;
  margin-left: 1em;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace, serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #70868E;
}

::selection {
  background: #93A1A1;
  color: #FDF7E7;
  padding: 5px;
}

a {
  color: #2C96D8;
  padding: 5px;
}

a:hover {
  background: #2C96D8;
  color: #FDF7E7;
}

p {
  position: relative;
  margin: 1.25px 0;
  padding: 5px 0;
}

p:hover {
  background: #F0EBDA;
}

.terminal {
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.terminal--input::before {
  content: 'â¯ ';
  text-shadow: 2px 0px;
  color: #90A300;
}

.terminal--input:last-child::after {
  animation: blink 1s steps(2, start) infinite;
  width: 30px;
  padding: 5px 0;
  content: '|';
  color: #708294;
  background: #708294;
}

.terminal--tag {
  background: #D83E8D;
  color: #FDF7E7;
  padding: 5px;
}

.terminal--output.is-console:before {
  margin-right: 10px;
  content: '>';
}

.terminal--output.is-not-defined:before {
  content: 'undefined';
  color: #F0EBDA;
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}

@-ms-keyframes blink {
  to { visibility: hidden; }
}

@keyframes blink {
  to { visibility: hidden; }
}
